
.btn-medium {
border: solid;
border-color: rgba(0,0,0,.2);
color: black !important;
border-width: 1px;
border-radius: 30px;
padding: 8px;
text-decoration: none;
text-decoration-color: none;
}

.btn-medium:hover {
  border-color: #F2F2F2;
  color:#F2F2F2;
}
