.dashboard_header {
  margin-left: 130px;
  font-size: 32px !important;
  font-weight: bold;
  margin-top: 80px;
  margin-bottom: 80px;
  color: #18273C;
  text-shadow: 1px 1px 1px rgba(50,103,161,0.4);
}
.dashboard_h2{
  // margin-left: 100px;
  font-weight: 900;
  color: #18273C;
  font-size: 16px;
  margin-bottom: 40px;
}
.dashboard_row {
  display: flex;
  border-bottom: 1px solid rgba(160,160,160,0.4);
  border-top: 1px solid rgba(160,160,160,0.4);
}
#break {
  margin-top: 100px;
}
.borders{
  padding: 0 130px;
  margin-bottom: 40px;
}
.user_dashboard_row {
  border-top: 1px solid rgba(160,160,160,0.4);
  border-bottom: 1px solid rgba(160,160,160,0.4);
}
.section_background {
  background-color: white;
  padding: 30px;
}


