#homepage-banner {
  // position: absolute;
  top: 0;
  color: white;
  text-align: center;
  height: calc(100vh - 50px);
  width: 100%;
  background-color: #24292D;
  display: flex;
  align-items: center;
  justify-content: center;
}
#homepage-cards {
  margin-bottom: 30px;
}
#homepage-banner-button {
  width: 180px;
}
.homepage-content{
  font-size: 32px !important;
  font-weight: bold;
  margin-top: 80px;
  margin-bottom: 60px;
  text-align: center;
  color: #18273C;
  text-shadow: 1px 1px 1px rgba(50,103,161,0.4);
}
.homepage-content_h1 {
  font-style: italic;
  font-weight: 900;
  color: #18273C;
}
.homepage-content_p{
  font-size: 14px !important;
  color: #18273C;
}
.padding{
  padding-left: 300px;
  padding-right: 300px
}

.banner-content {
  width: 504px;
}
