.new_header {
  margin-left: 130px;
  font-size: 32px !important;
  font-weight: bold;
  margin-top: 80px;
  margin-bottom: 40px;
  color: #18273C;
}
.form_text {
  font-weight: 900;
  text-shadow: 1px 1px 1px rgba(50,103,161,0.4);
  color: #18273C;
  font-size: 14px;
}
.form_background {
  background-color: white !important;
  padding: 30px;
  margin-bottom: 20px;
}
.new_center_button {
  display: block;
  margin: auto;
}
