.banner {
  color: white;
  text-align: center;
  height: 75vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}
.spastic-row {
  display: flex;
  justify-content: space-between;
}
.flexbox {
  display: flex;
  justify-content: space-around;
}
.info-box {
  border-radius: 10px;
  background-color: white;
  height: 525px;
  width: 400px;
  padding: 25px 25px 0 25px;
  margin-top: 40px;
  margin-left: 100px;
}
.booking {
  padding: 25px;
  width: 400px;
  background-color: white;
  margin-top: 40px;
  border-radius: 10px;
  margin-right: 100px;
  margin-bottom: 40px;
}
.button_spacing {
  margin-top: 60px;
  margin-right: 140px;
}
.button_spacing_2 {
  margin-top: 20px;
  margin-right: 140px;
}
.line-height {
  line-height: 25px;
  margin-left: 30px;
}
.list-text {
  font-size: 14px !important;
  font-family: "Raleway", "Helvetica", "sans-serif";
  font-weight: 500;
  color: #17273C !important;
}
