<h1>Search for a Device</h1>

<%= render 'shared/form', device: @device %>

<h1>Search Results</h1>

<div class="container">
  <div class="row">
    <% @devices.each do |device| %>
      <div class="col-xs-12 col-sm-4 col-md-6">
        <%= render 'shared/card', device: device %>
      </div>
    <% end %>
  </div>
</div>

