<div class="center">
  <h1>Device</h1>
<% @devices.each do |device| %>
  <%= device.name %>
  <%= device.description %>
  <% end %>

  <p class= "btn btn-danger"><%=  link_to "Create a new device.", new_device_path %></p>
</div>
