<div class="booking_signin">
  <h4 class="show_name margins">Want to book this or another device? Sign up or sign in to devici:</h4>
    <p class="btn-medium button_spacing dashboard-button" id="homepage-banner-button">
      <%= link_to 'Sign In', new_user_session_path %>
    </p>
    <p class="btn-medium button_spacing dashboard-button" id="homepage-banner-button">
      <%= link_to 'Create a new Account', new_user_registration_path %>
    </p>
</div>
