<div class="dashboard">
  <h3 class="dashboard-name"><%= booking.name %></h3>
  <div class="dashboard-body">
    <p class="strong">Description:</p>
    <p><%= booking.description %></p>
  </div>
  <% if booking.booking_ids.empty? %>
    <p class="btn-medium" id="dashboard-button">
      <%= link_to "Delete", device_path(booking.id),
        method: :delete %>
    </p>
  <% end %>
  <p class="btn-medium" id="dashboard-button">
    <%= link_to 'Link to device', device_path(booking.id) %>
  </p>
</div>

