<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag 'rocket.png' %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <a href="" class="navbar-wagon-item navbar-wagon-link">Lend a Device</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Sign In</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Sign Up</a>

</div>
