<h1>User Dashboard</h1>


<div>
  <h2 class="dashboard_h2">Devices you are borrowing:</h2>
  <div class="container">
    <div class="row">
      <% @booked_devices.each do |b| %>
        <div class="col-xs-4">
          <%= render "shared/dashboard_card", booking: b %>
        </div>
      <% end %>
    </div>
    <p class="btn-medium" id="homepage-banner-button">
      <%= link_to 'Borrow a new device', devices_path %>
    </p>
  </div>
</div>

<div>
  <h2 class="dashboard_h2">Devices you are lending:</h2>
  <div class="container">
    <div class="row">
      <% @lent_devices.each do |d| %>
        <div class="col-xs-12">
          <%= render "shared/dashboard_card", booking: b %>
        </div>
      <% end %>
    </div>
      <p class="btn-medium" id="homepage-banner-button">
        <%= link_to 'Lend a new device', new_device_path %>
      </p>
    </p>
  </div>
</div>
