<h1 class="dashboard_header">My Dashboard</h1>

<div class="borders">
  <h2 class="dashboard_h2">DEVICES YOU ARE BORROWING:</h2>
  <div>
    <div>
      <div class="dashboard_row">
        <% @booked_devices.each do |b| %>
          <div class="col-xs-4">
            <%= render "shared/dashboard_card", booking: b %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="break">
</div>


<div class="borders">
  <h2 class="dashboard_h2">DEVICES YOU ARE LENDING:</h2>
  <div>
    <div>
      <div class="dashboard_row">
        <% @lent_devices.each do |b| %>
          <div class="col-xs-4">
            <%= render "shared/dashboard_card", booking: b %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="borders">
  <h2 class="dashboard_h2">YOUR DEVICES CURRENTLY ON THE MARKET:</h2>
  <div>
    <div>
      <div class="dashboard_h2">
        <ul><% current_user.devices.each  do |b| %>
            <li><%= link_to b.name, device_path(b)%></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
