<h1 class="dashboard_header">My Dashboard</h1>

<div class="borders">
  <div class="section_background">
    <h2 class="dashboard_h2">DEVICES YOU ARE CURRENTLY BORROWING:</h2>
    <% @booked_devices.each do |b| %>
      <div class="dashboard_row">
        <%= render "shared/dashboard_card", booking: b %>
      </div>
    <% end %>
  </div>
</div>

<div class="borders">
  <div class="section_background">
    <h2 class="dashboard_h2">DEVICES YOU ARE CURRENTLY LENDING:</h2>
    <% @lent_devices.each do |b| %>
      <div class="dashboard_row">
        <%= render "shared/dashboard_card", booking: b %>
      </div>
    <% end %>
  </div>
</div>

<div class="borders">
  <div class="section_background">
  <h2 class="dashboard_h2">YOUR LISTINGS:</h2>
    <% current_user.devices.each do |b| %>
      <div class="user_dashboard_row">
        <%= render "shared/dashboard_card_user", booking: b %>
      </div>
    <% end %>
  </div>
</div>


<!-- <div class="borders">
  <div class="section_background">
    <h2 class="dashboard_h2">DEVICES YOU ARE CURRENTLY BORROWING:</h2>
    <% @booked_devices.each do |b| %>
      <div class="dashboard_row">
        <%= render "shared/dashboard_card", booking: b %>
      </div>
    <% end %>
  </div>
</div> -->

<!--           <div style="height: 50px; width: 50px; background-color: red"></div>
 -->
