<h1>User Dashboard</h1>

<div>
  <h2>Devices you are borrowing:</h2>
  <div class="container">
    <div class="row">
      <% @devices_booked.each do |d| %>
        <div class="col-xs-12">
          <%= render "shared/dashboard_card", device: d %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div>
  <h2>Devices you are lending:</h2>
  <div class="container">
    <div class="row">
      <% @devices_booked.each do |d| %>
        <div class="col-xs-12">
          <%= render "shared/dashboard_card", device: d %>
        </div>
      <% end %>
    </div>
  </div>
</div>
