<div class="container" style="background-image: linear-gradient(-100deg, #141e30, #243b55);" id="homepage-banner">
  <div class="banner-content">
    <h1 style="text-shadow: 2px 2px 3px rgba(255,255,255,0.1)">devici</h1>
    <br>
    <p class="btn-medium" id="homepage-banner-button">
      <%= link_to 'Borrow a Device', devices_path %>
    </p>
  </div>
</div>

<div class="container padding">
  <h2 class="homepage-content">About devici</h2>
  <p class="homepage-content_p"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p class="homepage-content_p"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p class="homepage-content_p"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

<div class="container padding">
  <h2 class="homepage-content">Recently Listed on devici:</h2>
</div>

  <div class="container" id="homepage-cards">
    <div class="row">
      <% @devices.each do |d| %>
        <div class="col-xs-12 col-sm-4">
          <%= render "shared/card", device: d %>
        </div>
      <% end %>
    </div>
  </div>
