 .btn-medium {
  border: 1px solid #999999;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  background-color: transparent;
  text-decoration: none;
}
.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: #999999;
}
.btn-medium:hover a {
  opacity: 1;
  text-decoration: none;
  color: #999999;
}

.btn-medium a {
  text-decoration: none !important;
  color: #999999;
}
