.dashboard {
  display: flex;
  align-items: center;
  padding: 20px;
}
.dashboard-body {
  flex-grow: 1;
  min-width: 200px;
  font-size: 16px;
  text-align: center;
}
.dashboard-name {
  padding-left: 10px;
  padding-right: 10px;
  min-width: 200px;
  font-size: 16px !important;
  font-weight: 900;
  text-shadow: 1px 1px 1px rgba(50,103,161,0.4);
  color: #18273C;
}
.dashboard-link {
  font-size: 13px;
  color: black;
}
.dashboard-button {
  width: 180px;
  font-size: 12px !important;
  color: black;
  text-decoration: none;
}

