/* Main navbar */
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background-color: rgb(210,210,210);
  transition: all 0.3s ease;
  height: 50px;
  padding: 0px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Right section */
.navbar-wagon-right {
  display: flex;
}
/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  color: #18273C;
  font-size: 14px;
  font-family: "Raleway", "Helvetica", "sans-serif";
  text-shadow: 1px 1px 1px rgba(50,103,161,0.4)
}
.navbar-wagon-link:hover {
  color: #EA7610;
  text-decoration: none;
}
.logo_styling {
  color: #18273C;
  font-size: 22px;
  font-family: "Raleway", "Helvetica", "sans-serif";
  font-weight: 500;
  text-align: center;
  text-shadow: 1.5px 1.5px 1.5px rgba(50,103,161,0.4)
}
.logo_styling:hover {
  color: #EA7610;
  text-decoration: none;
}
